// Animations
// Page transition
.page-enter-active,
.page-leave-active {
  @include transition(opacity 0.3s);
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  @include transition(opacity 0.3s);
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

// Fade transition
.fade-enter-active,
.fade-leave-active {
  @include transition(opacity 0.3s);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Fade up transition
.fade-up-enter-active,
.fade-up-leave-active {
  @include transition(all 0.2s);
}
.fade-up-enter,
.fade-up-leave-to {
  @include transform(translate3d(0, 8px, 0));
  opacity: 0;
}