.container { 
  max-width: 960px;

  &--expanded {
    @extend .container;
    max-width: 1180px;
  }
}

.bg{
  &--green,
  &--green::before {
    background-color: $vv-green;
  }

  &--green-light,
  &--green-light::before {
    background-color: $vv-green-light;
  }
  &--green-dark,
  &--green-dark::before {
    background-color: $vv-green-dark;
  }
}

a.main-link {
  @include transition(all 0.2s);
  color: $vv-gray-dark;
  font-family: $font-main;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  text-align: center;

  display: inline-flex;
  align-items: center;

  &::before {
    @include transition(all 0.2s);
    content: '';
    background-color: $vv-gray-darkest;
    border-radius: 100px;
    height: 2px;
    width: 0;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
  }

  &.nuxt-link-exact-active {
    cursor: default !important;
  }

  &:hover,
  &.nuxt-link-exact-active {
    color: $vv-gray-darkest;

    &::before {
      width: 100%;
    }
  }

  svg {
    margin-left: $grid-sm;

    * {
      stroke-width: $icon-regular;
    }
  }
}