// Mixins
@mixin transition($str){
  -webkit-transition: $str;
  -moz-transition: $str;
  -ms-transition: $str;
  -o-transition: $str;
  transition: $str;
}

@mixin transform($str){
  -webkit-transform: $str;
  -moz-transform: $str;
  -ms-transform: $str;
  -o-transform: $str;
  transform: $str;
}

@mixin filter($str) {
  -webkit-filter: $str;
  -moz-filter: $str;
  -ms-filter: $str;
  -o-filter: $str;
  filter: $str;
}

@mixin backdrop-filter($str) {
  -webkit-backdrop-filter: $str;
  -moz-backdrop-filter: $str;
  -ms-backdrop-filter: $str;
  -o-backdrop-filter: $str;
  backdrop-filter: $str;
}

@mixin no-user-selection {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}