// Resets
* {
  color: $vv-gray-darkest;
  font-family: $font-sans;

  font-display: swap !important;
  text-rendering: geometricPrecision !important;
  -webkit-text-rendering: geometricPrecision !important;
  font-feature-settings: "kern" 1 !important;
  -webkit-font-feature-settings: "kern" 1 !important;
  -webkit-font-smoothing: subpixel-antialiased !important;

  outline-color: $vv-black;
}

*:not(ul),
*:not(ol),
.body-base {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  @include transition(all 0.2 ease-in-out);
  color: $vv-gray-dark;
  text-decoration: none;

  &:hover {
    color: $vv-black;
  }
}

h1 { font-size: $h1-size-mobile; }
h2 { font-size: $h2-size-mobile; }
h3 { font-size: $h3-size-mobile; }
h4 { font-size: $h4-size-mobile; }
h5 { font-size: $h5-size-mobile; }
h6 { font-size: $h6-size-mobile; }

@include media-breakpoint-up(md) {
  h1 { font-size: $h1-size; }
  h2 { font-size: $h2-size; }
  h3 { font-size: $h3-size; }
  h4 { font-size: $h4-size; }
  h5 { font-size: $h5-size; }
  h6 { font-size: $h6-size; }
}

p {
  color: $vv-gray-darker;
  font-family: $font-sans;
  font-size: $p-size-mobile;
  line-height: 1.8;
  max-width: 60ch;
  margin-bottom: $grid-xl;

  @include media-breakpoint-up(md) {
    font-size: $p-size;
    line-height: 2;
    width: 60ch;
  }
  
  strong { 
    color: $vv-gray-darkest;
    font-family: $font-sans;
    font-weight: 600;
  }

  a {
    @include transition(all 0.2s);
    border-bottom: solid 1px $vv-gray-dark;
    color: $vv-gray-darker;
    font-family: $font-sans;
    position: relative;
    text-decoration: none;
    white-space: nowrap;

    &::before {
      @include transition(all 0.2s);
      content: '';
      background: $vv-gray-darkest;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
    }

    &:hover {
      border-bottom: solid 1px $vv-gray-darkest;
      color: $vv-gray-darkest;
      text-decoration: none;

      &::before {
        width: 100%;
      }

      strong {
        color: $vv-gray-darkest;
        font-family: $font-sans;
      }
    }
  }
}

.cursor-default {
  cursor: default !important;
}