.footer {
  border-top: solid 1px $vv-gray-lightest;

  @include media-breakpoint-up(lg) {
    &__links-container {
      text-align: center;
      
      &:first-child { text-align: left; }  
      &:last-child  { text-align: right; }  
    }
  }

  a {
    @include transition(all 0.2s);
    color: $vv-gray-dark;
    font-family: $font-main;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-align: center;

    &::before {
      @include transition(all 0.2s);
      content: '';
      background-color: $vv-gray-darkest;
      border-radius: 100px;
      height: 2px;
      width: 0;

      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
    }

    &.nuxt-link-exact-active {
      cursor: default !important;
    }

    &:hover,
    &.nuxt-link-exact-active {
      color: $vv-gray-darkest;

      &::before {
        width: 100%;
      }
    }
  }
}