.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-sticky;

  @include media-breakpoint-down(sm) {
    box-shadow: 0 0 6px 0 rgba($color: $vv-gray-darker, $alpha: 0.2);
  }

  * {
    @include transition(all 0.2s);
  }

  &__title {
    color: $vv-gray-darkest;
    font-family: $font-main;
    font-size: $h2-size;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      font-size: $h2-size-mobile;
    }

    a {
      color: $vv-gray-darkest;
      text-decoration: none;
    }
  }

  &--burger-opened {
    position: relative;

    &::after {
      content: '';
      background-color: rgba($color: $vv-black, $alpha: 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}