.header {
  @include transition(all 0.2s);
  box-shadow: 0 0 6px 0 rgba($color: $vv-gray-darker, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-sticky;
  padding: $grid-sm 0;

  @include media-breakpoint-up(md) {
    box-shadow: none;
    border-bottom: solid 1px $vv-gray-lightest;
    padding: $grid-sm 0;
  }

  * { @include transition(all 0.4s ease-out); }

  &__title {
    color: $vv-gray-darkest;
    font-family: $font-main;
    font-size: $h3-size-mobile;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: $h3-size;
    }

    a {
      color: $vv-gray-darkest;
      text-decoration: none;
    }
  }

  &.on-top {
    border-bottom: none;
    padding: $grid-md 0;

    @include media-breakpoint-up(md) {
      padding: $grid-lg 0;
    }

    .header__title {
      font-size: $h2-size-mobile;

      @include media-breakpoint-up(md) {
        font-size: $h2-size;
      }
    }
  }

  &--burger-opened {
    position: relative;

    &::after {
      content: '';
      background-color: rgba($color: $vv-black, $alpha: 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__lang-switcher {

    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: $grid-md;
      height: 100%;

      display: flex;
      align-items: center;
      // justify-content: center;
      // flex-direction: column;
    }

    a {
      @include transition(all 0.2s);
      border: solid 1px transparent;
      border-radius: 5px;
      color: $vv-gray-darker;
      font-size: $h6-size-mobile;
      font-weight: 500;
      padding: $grid-sm $grid-md;
      margin: 0 $grid-sm;
      text-decoration: none;

      @include media-breakpoint-up(md) {
        font-size: $span-size;
        padding: $grid-xs $grid-sm;
        margin-left: $grid-xs;
      }

      &:hover {
        border: solid 1px $vv-gray-darker;
        text-decoration: none;
      }

      &.active {
        background-color: $vv-black;
        border: solid 1px $vv-black;
        color: $vv-white;
        cursor: default;

        @include media-breakpoint-up(md) {
          
        }
      }
    }

  }
}