.header {
  @include transition(all 0.2s);
  box-shadow: 0 0 6px 0 rgba($color: $vv-gray-darker, $alpha: 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-sticky;
  padding: $grid-sm 0;

  @include media-breakpoint-up(md) {
    box-shadow: none;
    border-bottom: solid 1px $vv-gray-lightest;
    padding: $grid-sm 0;
  }

  * { @include transition(all 0.4s ease-out); }

  &__title {
    color: $vv-gray-darkest;
    font-family: $font-main;
    font-size: $h4-size-mobile;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: $h3-size;
    }

    a {
      color: $vv-gray-darkest;
      text-decoration: none;

      &.nuxt-link-exact-active {
        cursor: default;
      }
    }
  }

  &.on-top {
    border-bottom: none;
    padding: $grid-md 0;

    @include media-breakpoint-up(md) {
      padding: $grid-lg 0;
    }

    .header__title {
      font-size: $h3-size-mobile;

      @include media-breakpoint-up(md) {
        font-size: $h2-size;
      }
    }
  }

  &__lang-switcher {
    a {
      @include transition(all 0.2s);
      border: solid 1px transparent;
      border-radius: 5px;
      color: $vv-gray-darker;
      font-size: $h6-size-mobile;
      font-weight: 500;
      padding: $grid-sm $grid-md;
      margin: 0 $grid-xs;
      margin-left: $grid-xs;
      text-decoration: none;

      &.nuxt-link-exact-active {
        background-color: $vv-black;
        border: solid 1px $vv-black;
        color: $vv-white;
        cursor: default;
      }
    }

    &__selector {
      background-color: $vv-white;
      border: solid 1px $vv-black;
      border-radius: 5px;
      color: $vv-black;
      cursor: pointer;
      font-weight: 500;
      padding: $grid-xs $grid-md;

      &:hover {
        background-color: $vv-gray-lightest;
      }

      svg * {
        stroke: $vv-black;
        stroke-width: $icon-regular;
      }
    }

    &__selector-options {
      @include transform(translate3d(0, calc(100% + 8px), 0));
      background: $white;
      border-radius: 5px;
      box-shadow: 0 0 6px 0 rgba($color: $vv-gray-darker, $alpha: 0.2);
      display: flex;
      padding: $grid-sm 0;

      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      a {
        padding: $grid-xs $grid-md;
        margin: 0;
        width: 100%;

        &:hover {
          background-color: $vv-gray-lightest;
          border-radius: 0;
          text-decoration: none;
        }
      }
    }
  }

  &__fade-background {
    background-color: rgba($color: $vv-black, $alpha: 0.5);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

}