.portfolio{
  &__showcase {
    display: grid;
    grid-gap: $grid-md;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));

    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    @include transition(all 0.35s);
    border-radius: 5px;
    box-shadow: none;
    position: relative;
    text-align: left;

    * { 
      @include transition(all 0.35s);
      position: relative;
    }

    &:hover {
      @include transform(translate3d(0, -4px, 0));
      box-shadow: 0 4px 12px rgba($color: $vv-black, $alpha: 0.25);
      text-decoration: none;
    }

    &__image {
      @include no-user-selection;
      object-fit: contain;
      object-position: bottom right;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
    }

    &.mobile {
      .portfolio__card__image {
        height: 75%;
        width: 75%;
      }

      &:hover {
        .portfolio__card__image {
          height: 77.5%;
          width: 77.5%;
        }
      }
    }

    &.desktop {
      .portfolio__card__image {
        height: 80%;
        width: 80%;
      }

      &:hover {
        .portfolio__card__image {
          height: 85%;
          width: 85%;
        }
      }
    }

    &__title {
      color: $white;
      font-family: $font-main;
      font-size: $h4-size;
      margin-bottom: $grid-md;
      width: 80%;
    }

    &__desc {
      color: $white;
      font-family: $font-main;
      font-size: $h6-size;
      line-height: 1.45;
      width: 72%;
    }
  }
}