.portfolio{
  &__showcase {
    display: grid;
    grid-gap: $grid-md;
    grid-template-columns: repeat(1, 1fr);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    // @include media-breakpoint-up(lg) {
    //   grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    // }
  }

  &__card {
    @include transition(all 0.35s);
    border-radius: 5px;
    box-shadow: 0 0 0 0 transparent;
    min-height: 300px;
    position: relative;
    text-align: left;
    overflow: hidden;

    * { 
      @include transition(all 0.35s);
      position: relative;
    }

    &:hover {
      @include transform(translate3d(0, -2px, 0));
      box-shadow: $shadow-3;
      text-decoration: none;

      .portfolio__card__image {
        height: 81%;
      }
    }

    &__image {
      @include no-user-selection;
      object-fit: contain;
      -o-object-fit: contain;
      object-position: bottom right;
      -o-object-position: bottom right;
      position: absolute;
      width: 80%;
      bottom: -$grid-xl;
      right: -15%;
      z-index: 0;

      @include media-breakpoint-up(md) {
        height: 80%;
        width: unset;
      }
    }

    &__title {
      color: $white;
      font-size: $h5-size;
      font-weight: 700;
      width: 80%;
    }

    &__reading-time {
      background: rgba($color: $vv-white, $alpha: 0.6);
      border-radius: 3px;
      color: $vv-green-darker;
      font-size: $span-size;
      font-weight: 600;
    }

    &__desc {
      color: $white;
      font-size: $p-size;
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: $grid-md;
      width: 80%;

      @include media-breakpoint-up(md) {
        margin-bottom: $grid-xx;
        width: 50%;
      }
    }
  }
}