.portfolio{
  &__showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $grid-md;
    justify-content: center;
    // grid-gap: $grid-md;
    // grid-template-columns: repeat(1, 1fr);

    // @include media-breakpoint-up(md) {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @include media-breakpoint-up(lg) {
    //   grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    // }
  }

  &__card {
    @include transition(all 0.35s);
    border-radius: 15px;
    box-shadow: 0 0 0 0 transparent;
    cursor: pointer;
    width: 700px;
    max-width: 700px;
    min-height: 320px;
    position: relative;
    text-align: left;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      min-height: unset;
    }

    * { 
      @include transition(all 0.35s);
      position: relative;
    }

    &:hover {
      @include transform(translate3d(0, -2px, 0));
      box-shadow: $shadow-3;
      text-decoration: none;

      .portfolio__card__image {
        height: 102%;
      }
    }

    &__image {
      @include no-user-selection;
      object-fit: contain;
      -o-object-fit: contain;
      object-position: bottom right;
      -o-object-position: bottom right;
      position: absolute;
      width: 80%;
      bottom: -$grid-xl;
      right: -15%;
      z-index: 0;

      @include media-breakpoint-up(md) {
        height: 100%;
        width: unset;
      }
    }

    &__title {
      color: $white;
      font-size: $h5-size;
      font-weight: 700;
      width: 80%;
    }

    &__reading-time {
      background: rgba($color: $vv-white, $alpha: 0.9);
      border-radius: 25px;
      color: $vv-black;
      font-size: $span-size;
      font-weight: 600;
    }

    &__desc {
      color: $white;
      cursor: pointer;
      font-size: $label-size;
      font-weight: 400;
      line-height: 1.25;
      margin-bottom: $grid-md;
      width: 90%;

      @include media-breakpoint-up(md) {
        margin-bottom: $grid-xx;
        width: 60%;
      }
    }

    &--disabled {
      @extend .portfolio__card;
      cursor: not-allowed;
      background-color: $vv-gray-darker;

      .portfolio__card__desc {
        cursor: not-allowed;
      }

      &:hover {
        @include transform(none);
        box-shadow: none;
      }
    }
  }
}