.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-sticky;

  @include media-breakpoint-down(sm) {
    box-shadow: 0 0 6px 0 rgba(71, 71, 71, 0.2);
  }

  &__title {
    color: $vv-gray-darkest;
    font-family: $font-main;
    font-size: $h2-size;
    font-weight: 500;

    @include media-breakpoint-down(sm) {
      font-size: $h2-size-mobile;
    }

    a {
      color: $vv-gray-darkest;
      text-decoration: none;
    }
  }

  &__navigation {
    a {
      @include transition(all 0.2s);
      color: $vv-gray-lighter;
      position: relative;
      text-decoration: none;

      &::before {
        @include transition(all 0.2s);
        content: '';
        background-color: $vv-gray-darkest;
        border-radius: 100px;
        height: 2px;
        width: 0;

        position: absolute;
        left: 0;
        right: 0;
        bottom: -12px;
      }

      &.nuxt-link-exact-active {
        cursor: default !important;
      }

      &:hover,
      &.nuxt-link-exact-active {
        color: $vv-gray-darkest;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &--burger-opened {
    position: relative;

    &::after {
      content: '';
      background-color: rgba($color: $vv-black, $alpha: 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}