.about {
  &__title {
    @extend .home__title;
  }

  &__greetings {
    p {
      font-size: $h4-size;
      line-height: 1.55;
    }
  }

  &__profile-picture {
    border-radius: 50%;
    object-fit: cover;
  }

}