.home {
  &__title {
    font-weight: 900;

    @include media-breakpoint-up(md) {
      font-weight: 600;
    }
  }

  &__greetings {
    p {
      font-size: $p-size-mobile;
      line-height: 1.8;

      @include media-breakpoint-up(md) {
        font-size: $p-size;
        margin: 0 auto $grid-xl;
      }
    }
  }
}