.home {
  &__title {
    font-weight: 600;
  }

  &__greetings {
    p {
      font-size: $p-size-mobile;
      line-height: 1.8;

      @include media-breakpoint-up(md) {
        font-size: $p-size;
        line-height: 2;
      }
    }
  }
}