.project-page {
  &__hero {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    margin-top: 60px;
    height: 24vh;

    @include media-breakpoint-up(md) {
      margin-top: 100px;
      height: 30vh;
    }

    &.mobile-image {
      img {
        object-fit: contain;
        object-position: center;
      }
    }

    &.desktop-image {
      img {
        object-fit: cover;
        object-position: top center;
      }
    }

    img {
      opacity: 0.4;
      position: absolute;
      z-index: -1;
    }
  }

  &__title {
    background: $vv-white;
    border-radius: 5px;
    font-size: $h2-size-mobile;
    font-weight: 900;
    padding: $grid-sm $grid-md;

    @include media-breakpoint-up(md) {
      font-size: $h2-size;
      font-weight: 600;
    }
  }

  &__reading-time {
    background: $vv-white;
    border-radius: 0 0 10px 10px;
    font-size: $h5-size-mobile;
    font-weight: 600;
    padding: $grid-sm $grid-lg;

    @include media-breakpoint-up(md) {
      font-size: $h5-size;
    }
  }

  &__summary {
    background: $vv-white;
    box-shadow: $shadow-2;
    border-radius: 10px;

    @include media-breakpoint-up(md) {
      box-shadow: none;
    }

    &__emoji {
      font-size: $h3-size-mobile;

      @include media-breakpoint-up(md) {
        font-size: $h3-size;
      }
    }

    &__title {
      font-size: $h5-size-mobile;
      font-weight: 900;

      @include media-breakpoint-up(md) {
        font-size: $h5-size;
        font-weight: 600;
      }
    }
  }

  &__nav-container {
    background: rgba($color: $vv-white, $alpha: 0.9);
    border-radius: 5px;
    padding: $grid-md;
    position: sticky;
    top: 6rem;
    right: 0;
    float: right;
    max-width: 240px;
    width: 20vw;
    z-index: 0;

    ul {
      list-style: none;
    }

    li {
      cursor: pointer;
      margin-top: $grid-xs;
      text-align: left;      

      &.subsection {
        margin-left: $grid-md;
      }

      button {
        color: $vv-gray-dark;
        background: transparent;
        font-size: $span-size;
        position: relative;
        text-align: left;
        
        &::before {
          @include transition(all 0.2s);
          content: '';
          background-color: $vv-green;
          border-radius: 100px;
          height: 2px;
          width: 0;
      
          position: absolute;
          left: 0;
          right: 0;
          bottom: -2px;
        }
        
        &:focus,
        &:hover {
          color: $vv-green;
  
          &::before {
            width: 100%;
          }
        }

        &.active-item {
          color: $vv-gray-darkest;
          cursor: default;
          font-weight: bold;

          &::before {
            background-color: $vv-gray-darkest;
            width: 100%;
          }
        }
      }
    }
  }

  &__quote {
    color: $vv-white;
    background-color: $vv-green-dark;
    border-radius: 15px;
    font-family: $font-sans;
    font-weight: 600;
    font-style: italic;
    font-size: $label-size-mobile;
    line-height: $h3-size-mobile;
    // margin: $grid-xs auto $grid-xl;
    margin: $grid-xs auto;
    max-width: 55ch;
    padding: 16px 24px;

    @include media-breakpoint-up(md) {
      font-size: $label-size;
      line-height: $h3-size;
      // margin: $grid-sm auto $grid-xx;
      margin: $grid-sm auto;
      padding: 24px 32px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      align-items: center;
    }

    h2,
    h3 {
      font-weight: 700;
      padding-top: $grid-sm;
      padding-bottom: $grid-lg;
      
      @include media-breakpoint-up(md) {
        top: 65px;
        width: 700px;
      }
    }

    h2 {
      font-size: 32px;
      margin-top: $grid-md;

      @include media-breakpoint-up(md) {
        margin-top: $grid-xl;
      }
    }

    h3 {
      font-size: 24px;

      // @include media-breakpoint-up(md) {
      //   font-size: 24px;
      // }
    }

    p {
      @include media-breakpoint-up(md) {
        width: 700px;
      }
    }

    ul, 
    ol {
      margin-left: $grid-lg;
    }
    
    img {
      border-radius: 5px;
      max-width: 100%;
      object-fit: contain;
    }

    &__img {
      &--same {
        width: 100%;
      }

      &--full-width,
      &--full-contained {
        text-align: center;
        z-index: 1;

        img {
          object-position: center;
          object-fit: cover;
          width: 100%;
        }
      }

      &--full-contained {
        img {
          object-fit: contain;
          max-width: 1280px;
        }
      }
    }

    &__img-caption {
      margin: $grid-sm auto;
      text-align: center;
      width: 100%;
    }
  }

  &__img-comp {
    &__container {
      box-shadow: $shadow-2;
      border-radius: 5px;
      width: 580px; /*should be the same height as the images*/
      height: 886px; /*should be the same height as the images*/
      position: relative;
    }
  
    &__img {
      position: absolute;
      width: auto;
      height: auto;
      overflow: hidden;
  
      img {
        border-radius: 5px;
        display: block;
        width: 580px;
        height: 886px;
        object-fit: cover;
        object-position: left;
        vertical-align: middle;
      }
    }
  
    &__slider {
      background-color: $vv-green-lighter;
      border-radius: 50%;
      cursor: ew-resize;
      position: absolute;
      
      width: 40px;
      height: 40px;
      opacity: 0.85;
      z-index: 9;
    }
  }

  &__other-projects {
    padding-top: $grid-xx;
  }
}

