.header {
  &__title {
    color: $gray-darkest;
    font-family: $font-main;
    font-size: $h1-size;
    font-weight: 500;

    a {
      color: $gray-darkest;
      text-decoration: none;
    }
  }

  &__navigation {
    a {
      @include transition(all 0.2s);
      color: $gray-lighter;
      position: relative;
      text-decoration: none;

      &::before {
        @include transition(all 0.2s);
        content: '';
        background-color: $gray-darkest;
        border-radius: 100px;
        height: 2px;
        width: 0;

        position: absolute;
        left: 0;
        right: 0;
        bottom: -12px;
      }

      &.nuxt-link-exact-active {
        cursor: default !important;
      }

      &:hover,
      &.nuxt-link-exact-active {
        color: $gray-darkest;

        &::before {
          width: 100%;
        }
      }

    }
  }
}