// Gray Scale
$white:           #ffffff;
$gray-lightest:   #dddddd;
$gray-lighter-2:  #aaaaaa;
$gray-lighter:    #999999;
$gray:            #888888;
$gray-dark:       #666666;
$gray-darker:     #333333;
$gray-darkest:    #161616;
$black:           #000000;

// Main colors
$green-light:     #90CDBE;
$green-dark:      #19988F;
$green-darker:    #142628;
$blue-dark:       #005361;
$blue-darker:     #003A61;
$wine:            #6B2629;
$wine-dark:       #610E00;

// Font families
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900|Montserrat:100,300,400,700,900|Lora:100,300,400,700,900|Merriweather:100,300,400,700,900&font-display=swap');
$font-main:    'Montserrat', sans-serif;
$font-paragraph: 'Lora', serif;

// Font sizes
// Major third scale. Reference at https://type-scale.com/
$base-font-size: 16px; // Don't use directly
$h6-size: $base-font-size;
$h5-size: $h6-size * 1.250;
$h4-size: $h6-size * 1.563;
$h3-size: $h6-size * 1.953;
$h2-size: $h6-size * 2.441;
$h1-size: $h6-size * 3.052;

$h5-size-mobile: $h6-size * 1.200;
$h4-size-mobile: $h6-size * 1.440;
$h3-size-mobile: $h6-size * 1.728;
$h2-size-mobile: $h6-size * 2.074;
$h1-size-mobile: $h6-size * 2.488;

// Images
$img-ace-english-malta: url('../images/portfolio/site-ace-mockup.png');
$img-time-place: url('../images/portfolio/time-to-place-mockup.png');
$img-carousel: url('../images/portfolio/carousel-ad-mockup.png');
$img-inloco: url('../images/portfolio/site-inlocomedia-mockup.png');

// Mixins
@mixin transition($str){
  -webkit-transition: $str;
  -moz-transition: $str;
  -ms-transition: $str;
  -o-transition: $str;
  transition: $str;
}

@mixin transform($str){
  -webkit-transform: $str;
  -moz-transform: $str;
  -ms-transform: $str;
  -o-transform: $str;
  transform: $str;
}

@mixin filter($str) {
  -webkit-filter: $str;
  -moz-filter: $str;
  -ms-filter: $str;
  -o-filter: $str;
  filter: $str;
}

@mixin backdrop-filter($str) {
  -webkit-backdrop-filter: $str;
  -moz-backdrop-filter: $str;
  -ms-backdrop-filter: $str;
  -o-backdrop-filter: $str;
  backdrop-filter: $str;
}
